@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nunito&family=Silkscreen&display=swap');

:root{
    --darkblue: #3C1361;
    --yellow: #907513;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--darkblue);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

body {
    height: 114vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3C1361;
}

/* navbar starts */
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}
.home .content h3{
    font-size: 5rem;
    color: #3C1361;
    margin: 3px 254px;
    height: 17vh;
    width: 38vw;
    position:relative;
    
}

.home .content p{
    font-size: 1.7rem;
    color: red;
    margin: 3px 256px;
    height: 11vh;
    width: 38vw;
    position:relative;
}

.home .image img{
    /* height: 30vh; */
    width: 400px;
    justify-content: center;
    
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #907513;
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

header .logo i{
    padding-right: .5rem;
    color: var(--darkblue);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #fff;
}

header .navbar a:hover{
    color: var(--darkblue);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color:#fff;
    border:.1rem solid #fff;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}

/* .loader{
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader.fade-out{
    top:-120%
} */



/* media queries */

@media(max-width:991px){
    html{
        font-size: 55%;
}

header{
    padding: 2rem;
}
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--yellow);
        border-right: .5rem solid var(--yellow);
        background: #3C1361;
    }
}

@media(max-width:400px){
    html{
        font-size: 50%;
}
}
/* navbar ends */

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 660px;
}

.container .form .title {
    text-decoration: none;
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #3C1361;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #3C1361;
    border-radius: 25px;
}

.form .input-field {
    background-color: #fff;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(focus, :valid) {
    border-bottom-color: #3C1361;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(focus, :valid)~i {
    color: #0c0c53;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #0c0c53;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #3C1361;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #3C1361;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #3C1361;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;

}